*{
  padding:0;
  margin:0;
}
.navbar{
  width:300px;
  height:100px;
  background-color:black;
  margin-right:150px;
  padding-right:20px;
}
.navbar ul{
  list-style-type:none;
}
.navbar ul li{
  float:left;
  width:80px;
  font-size:40px;
  font-weight:bold;
  text-align:center;
}
.navbar ul li:hover{
  font-size:50px;
}

.navbar ul li a{
  color:white;
  text-decoration:none;
  line-height:80px;
  overflow:auto;
}
.navbar ul li a:hover{
  background-color:green;
  color:blue;
}
.navbar ul li ul li{
  background-color:blue;
  color:white;
  border:none;
  display:none;
  font-size:20px;
  float:right;
}
.navbar ul li:hover ul li{
  display:block;
  color:green;
  background-color:orange;
  font-size:25px;
}