div{
   background-color:black;
   color:White;
   display:inline;
   font-size:23px   
}

.navbar{
  background-color:#D2DE32;
  border-radius:30px;
}
.navbar ul {
  overflow:auto;
}
.navbar li {
  float:left;
  padding:3px 3px;
  margin:9px 10px;
  list-style:none;
  font-size:30px;
}
.navbar li a {
  padding:3px 3px;
  text-decoration:none;
  color:rgba(186, 255, 0, 0.98);
}
.navbar li a:hover{
  color:red;
  background-color:#EAFFD0;
  font-size:40px;
}
body{
background-color:#E2DD66;
}
table{
background-color:#A8B94E;
font-size:50px;
color:red;
}
.marquee{
background-color:#B83B5E;
color:#C5FFF8;
font-size:50px;
}
#बालक{
justify-content:center;
text-align:center;
background-color:#B83B5E;
color:#C5FFF8;
font-size:40px;
}